#vm_revert=true
#snapshot=os_setup
#vm_create=false
#chef_bootstrap=apt
#compute_count=2

vm_path="/home/choe/ssd/vmware/openstack"
vms+="${vm_path}/database/database.vmx:10.20.1.4 "
vms+="${vm_path}/keystone/keystone.vmx:10.20.1.8 "
vms+="${vm_path}/control/control.vmx:10.20.1.6 "
vms+="${vm_path}/cinder-volume/cinder-volume.vmx:10.20.1.7 "
vms+="${vm_path}/net-l3/net-l3.vmx:10.20.1.201 "
vms+="${vm_path}/net-dhcp/net-dhcp.vmx:10.20.1.202 "
vms+="${vm_path}/c-01-01/c-01-01.vmx:10.20.1.10 "
vms+="${vm_path}/c-01-02/c-01-02.vmx:10.20.1.11 "
vms+="${vm_path}/horizon/horizon.vmx:10.20.1.9 "
